ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li a {
    display: block;
    width: 60px;
  }

  li a:hover {
    background-color: rgb(216, 214, 214);
    color: white;
  }

  .navbar-toggler{
    background-color: transparent;
    border: none;
    
}
